[Unit]
Description=RTSP Camera ROS2 Node
After=microxrce-agent.service

[Service]
Type=simple
User=pihuy
WorkingDirectory=/home/pihuy/Precision-Landing
ExecStart=/bin/bash /home/pihuy/Precision-Landing/services/run_rtsp_cam.sh
Restart=always
RestartSec=3
KillSignal=SIGINT
Environment=RMW_IMPLEMENTATION=rmw_fastrtps_cpp
Environment=RMW_FASTRTPS_USE_SHM=0
Environment=ROS_DOMAIN_ID=0
Environment=HOME=/home/pihuy


[Install]
WantedBy=multi-user.target
